@model MultiStepForm.Models.FormViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using(Html.BeginForm("Index", "Home", FormMethod.Post)){
    <div class="row content" style="margin-right: 0; margin-left: 0;">
        <aside class="col-sm-4 sidebar">
            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-12 step-container">
                    <span class="step-number-1 step-number">1</span>
                    <div class="step-info">
                        <h6 class="step">Step 1</h6>
                        <h6 class="step-descreption">Your Info</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-2">2</span>
                    <div class="step-info">
                        <h6 class="step">Step 2</h6>
                        <h6 class="step-descreption">Select Plan</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-2">3</span>
                    <div class="step-info">
                        <h6 class="step">Step 3</h6>
                        <h6 class="step-descreption">Add-Ons</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-4">4</span>
                    <div class="step-info">
                        <h6 class="step">Step 4</h6>
                        <h6 class="step-descreption">Your Summary</h6>
                    </div>
                </div>
            </div>
        </aside>
        <section class="col-sm-8 main-info">
            <section class="personal-info">
                <h3>Personal Info</h3>
                <p class="pb-2">Please provide your name, email address, and phone number.</p>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.Name)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.Name, new { @class = "form-control", placeholder = "e.g. Stephen King" })
                </div>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.Email)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.Email, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.Email, new { @class = "form-control", placeholder = "e.g. stephenking@lorem.com" })
                </div>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.PhoneNumber, new { @class = "form-control", placeholder = "e.g. +1 234 567 890" })
                </div>

                <div class="btn-container">
                    <button type="button" class="btn btn-custom mt-5" id="validate-personal-info">Next Step</button>
                </div>
            </section>

            <section class="select-plan hidden">
                <h3>Select your plan</h3>
                <p class="pb-2">You have the option of monthly or yearly billing.</p>
                <div class="row pb-3">
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.Monthly, 9, new { @class = "radio-input", id = "arcade-radio" })

                        <label for="arcade-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-arcade.svg" alt="Arcade plan image">
                            </div>
                            <!-- Plan name -->
                            Arcade
                            <span>$9/mo</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.Monthly, 12, new { @class = "radio-input", id = "advanced-radio" })

                        <label for="advanced-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-advanced.svg" alt="Advanced plan image">
                            </div>
                            <!-- Plan name -->
                            Advanced
                            <span>$12/mo</span>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.Monthly, 15, new { @class = "radio-input", id = "pro-radio" })

                        <label for="pro-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-pro.svg" alt="Pro plan image">
                            </div>
                            <!-- Plan name -->
                            Pro
                            <span>$15/mo</span>
                        </label>
                    </div>
                </div>
            </section>

            <section class="add-ons hidden">
                <h3>Pick add-ons</h3>
            </section>

            <section class="finishing-up hidden">
                <h3>Finishing up</h3>
            </section>
        </section>
    </div>
}