@model MultiStepForm.Models.FormViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using(Html.BeginForm("Index", "Home", FormMethod.Post)){
    <div class="row content" style="margin-right: 0; margin-left: 0;">
        <aside class="col-sm-4 sidebar">
            <div class="row" style="margin-right: 0; margin-left: 0;">
                <div class="col-sm-12 step-container">
                    <span class="step-number-1 step-number">1</span>
                    <div class="step-info">
                        <h6 class="step">Step 1</h6>
                        <h6 class="step-descreption">Your Info</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-2">2</span>
                    <div class="step-info">
                        <h6 class="step">Step 2</h6>
                        <h6 class="step-descreption">Select Plan</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-3">3</span>
                    <div class="step-info">
                        <h6 class="step">Step 3</h6>
                        <h6 class="step-descreption">Add-Ons</h6>
                    </div>
                </div>
                <div class="col-sm-12 step-container">
                    <span class="step-number-4">4</span>
                    <div class="step-info">
                        <h6 class="step">Step 4</h6>
                        <h6 class="step-descreption">Your Summary</h6>
                    </div>
                </div>
            </div>
        </aside>
        <section class="col-sm-8 main-info">
            <section class="personal-info">
                <h3>Personal Info</h3>
                <p class="pb-2">Please provide your name, email address, and phone number.</p>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.Name)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.Name, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.Name, new { @class = "form-control", placeholder = "e.g. Stephen King" })
                </div>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.Email)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.Email, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.Email, new { @class = "form-control", placeholder = "e.g. stephenking@lorem.com" })
                </div>
                <div class="form-group pb-2">
                    <div class="error-align">
                        @Html.LabelFor(m => m.PersonalInfo.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PersonalInfo.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    @Html.TextBoxFor(m => m.PersonalInfo.PhoneNumber, new { @class = "form-control", placeholder = "e.g. +1 234 567 890" })
                </div>

                <div class="btn-container">
                    <button type="button" class="btn btn-custom mt-5" id="validate-personal-info">Next Step</button>
                </div>
            </section>

            <section class="select-plan hidden">
                <h3>Select your plan</h3>
                <p class="pb-2">You have the option of monthly or yearly billing.</p>
                <div class="row pb-3">
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.BillType, 9, new { @class = "radio-input", id = "arcade-radio" })

                        <label for="arcade-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-arcade.svg" alt="Arcade plan image">
                            </div>
                            <span>Arcade</span>
                            <small class="monthly-bill arcade-plan-bill"></small>
                            <small class="two-months-free hidden free-yearly">2 months free</small>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.BillType, 12, new { @class = "radio-input", id = "advanced-radio" })

                        <label for="advanced-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-advanced.svg" alt="Advanced plan image">
                            </div>
                            <span>Advanced</span>
                            <small class="monthly-bill advanced-plan-bill"></small>
                            <small class="two-months-free hidden free-yearly">2 months free</small>
                        </label>
                    </div>
                    <div class="col-sm-4">
                        @Html.RadioButtonFor(m => m.BillingType.BillType, 15, new { @class = "radio-input", id = "pro-radio" })

                        <label for="pro-radio" class="billing-type">
                            <div>
                                <img src="../images/icon-pro.svg" alt="Pro plan image">
                            </div>
                            <span>Pro</span>
                            <small class="monthly-bill pro-plan-bill"></small>
                            <small class="two-months-free free-yearly hidden">2 months free</small>
                        </label>
                    </div>
                    <div class="billing-toggle">
                        <span id="monthly-label" class="active">Monthly</span>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.BillingCycle.IsYearly, new { @class = "checkbox-input", id = "billing-cycle" })
                        </div>
                        <span id="yearly-label">Yearly</span>
                    </div>
                </div>

                <div class="btn-container-center-space">
                    <button type="button" class="btn btn-custom-back mt-5" id="btn-back-bill-type">Go Back</button>
                    <button type="button" class="btn btn-custom mt-5" id="validate-billing-type">Next Step</button>
                </div>
            </section>

            <section class="add-ons hidden">
                <h3>Pick add-ons</h3>
                <p class="pb-2">Add-ons help enhance your gaming experience.</p>

                <div class="add-ons-content">
                    <div class="checkbox-wrapper">
                        <label for="online-service-checkbox" class="add-ons-label online-service-label">
                            <div class="check">
                                @Html.CheckBoxFor(m => m.AddOns.OnlineService, new { @id = "online-service-checkbox", @class = "custom-checkbox" })
                            </div>
                            <div>
                                <small style="font-weight: bold;">Online service</small>
                                <small style="color: hsl(231, 11%, 63%);">Access to multiplayer games</small>
                            </div>
                            <small class="add-ons-bill-cycle">+$1/mo</small>
                        </label>
                    </div>

                    <div class="checkbox-wrapper">
                        <label for="large-storage-checkbox" class="add-ons-label large-storage">
                            <div class="check">
                                @Html.CheckBoxFor(m => m.AddOns.LargerStorage, new { @id = "large-storage-checkbox", @class = "custom-checkbox" })
                            </div>
                            <div>
                                <small style="font-weight: bold;">Large storage</small>
                                <small style="color: hsl(231, 11%, 63%);">Extra 1TB of cloud save</small>
                            </div>
                            <small class="add-ons-bill-cycle">+$2/mo</small>
                        </label>
                    </div>

                    <div class="checkbox-wrapper">
                        <label for="customizable-storage-checkbox" class="add-ons-label customizable-storage-label">
                            <div class="check">
                                @Html.CheckBoxFor(m => m.AddOns.CustomizableStorage, new { @id = "customizable-storage-checkbox", @class = "custom-checkbox" })
                            </div>
                            <div>
                                <small style="font-weight: bold;">Customizable Profile</small>
                                <small style="color: hsl(231, 11%, 63%);">Custom theme on your profile</small>
                            </div>
                            <small class="add-ons-bill-cycle">+$2/mo</small>
                        </label>
                    </div>
                </div>

                <div class="btn-container-center-space">
                    <button type="button" class="btn btn-custom-back mt-5" id="btn-back-add-ons">Go Back</button>
                    <button type="button" class="btn btn-custom mt-5" id="validate-add-ons">Next Step</button>
                </div>
            </section>

            <section class="finishing-up hidden">
                <h3>Finishing up</h3>
            </section>
        </section>
    </div>
}